 <div class="container-fluid">  
      <div class="row-fluid">  
        <div class="span3">  
          <div class="well sidebar-nav">  
            <ul class="nav nav-list">  
              <li class="nav-header">Welcome <%= user %></li>  
              <li class="active"><a href="#">Upload</a></li>  
              <li><a href="#">Friends</a></li>  
              <li><a href="#">Groups</a></li>  
              <li><a href="#">Reccomendations</a></li>  
                
              
           </ul>  
          </div><!--/.well -->  
        </div><!--/span-->  